<h3>Repaso de Angular</h3>
<div class="componente">
  <h4>Componente de Angular</h4>
  <div class="c-html">HTML</div>
  <div class="c-css">CSS</div>
  <div class="c-typescript">Typescript</div>
  <div class="c-pruebas">Pruebas Unitarias</div>
</div>
<h3>Elementos principales de Angular</h3>
<p>Las propiedades, metodos/funciones de su clase (@Component),
  se pueden utilizar en el HTML -> Interpolación</p>
<h4>Interpolación</h4>
<p>La interpolación se usa entre dobles llaves "{{ } }"</p>
<p>Las propiedades de la clase se pueden utilizar en el HTML</p>
<p>Propiedad nombre -> {{ nombre }}</p>
<p>Las propiedades o funciones/metodos pueden utilizar this (opcional)</p>
<p>Propiedad apellido -> {{ this.apellido }}</p>
<p>Los metodos tambien pueden llamarse desde la interpolación,
  son usados para mostrar datos calculados</p>
<p>Para los metodos es necesario agregar sus parentesis () ->
    {{ metodo2() }}, de lo contrario no se va a ejecutar {{ metodo2 }}
  </p>


  <h3>Directivas</h3>
  <p>Las Directivas son atributos
    de los elementos de HTML para
    extender su funcionalidad</p>
  <h5>Ejemplos</h5>
  <ul> <!-- Lista no ordenada -->
    <li>*ngIf</li> <!-- Item de lista -->
    <li>*ngFor</li>
  </ul>

  <h3>Directiva *ngIf</h3>
  <p>La directiva <b>*ngIf</b> es una directiva estructural,
    sirve para mostrar u ocultar el elemento
    donde este la directiva</p>
  <p>ngIf necesita de una evaluación booleana -> true o false</p>
   <p>Las evaluaciones pueden ser de propiedades directas,
    o de operaciones</p>
  <div *ngIf="mostrar">
    React Murio
  </div>
  <div *ngIf="1 > 10">
    React no Murio
  </div>

<h3>Directiva *ngFor</h3>
<p>La directiva *ngFor usa un arreglo o un
  objeto iterable para recorrer el numero de elementos
  que contenga el arreglo o el objeto iterable</p>
<p>Arreglo -> [] un arreglo puede contener cualquier cosa</p>
<p>[1,2,3,4,5] numeros, letras y textos ['abc', 'b', 'c'],
  o combinado [1, "uno", "cualquier tipo"]</p>
<h4>Ejemplo: [1,11,34,21]</h4>
<p>El tamaño de un arreglo viene dado
  por el numero de elementos que los contenga, en este caso:
  <b>Tamaño = 4</b> </p>
<p>Los indices inician en 0, por lo tanto</p>
<p>El primer elemento del arreglo es: <b>arreglo[0] = 1</b></p>
<p>Y el último elemento del arreglo es: <b>arreglo[3] = 21</b></p>
<p>Volviendo al *ngFor lo que hace es recorrer
   cada uno de los elementos de un arreglo o de un objeto
   iterable</p>

<h5>Iterar arregloEjemplo</h5>
<p>Para utilizar un *ngFor es necesario
  definir una variable temporal.
  La variable temporal guarda el item del recorrido actual</p>
  <p>Se puede llamar como prefieran.</p>
  <p>Y por ultimo se necesita el arreglo u objeto
    que se quiera recorrer.</p>
<ul>
  <li *ngFor="let miVarTemporal of arregloEjemplo">
    Valor: {{ miVarTemporal }}
  </li>
</ul>
<p>Podemos obtener de metodos ya existentes de nuestro arreglo,
  ciertas cosas, como su tamaño.</p>
<p>Tamaño: {{ arregloEjemplo.length }}</p>
<p>Se puede accesar a los items de un arreglo con su indice</p>
<p>arregloEjemplo[indice (numero)] = {{arregloEjemplo[0]}}</p>
<p>Si quisieran accesar al ultimo elemento del arreglo
  tendrian que hacerlo de la siguiente manera</p>
 <p>arregloEjemplo[tamaño del arreglo - 1] =
    {{ arregloEjemplo[arregloEjemplo.length - 1] }} </p>

<h2>ngModel</h2>
<p>ngModel es una directiva que sirve para
  enlazar los datos de un input con una propiedad
  de la clase del componente</p>
<p>Para utilizar ngModel es necesario importar el Modulo
  <b>FormsModule</b>, este se pone en el modulo
  donde el componente este registrado, en este caso
  <b>(AppModule)</b></p>

  <p>Para "enlazar" un input a una propiedad,
    es necesario tenerla en el ts (componente)</p>
    <p>El ngModel se tiene que poner entre [()]</p>
    <p>El que tenga [] y () significa que es doble binding</p>
    <p>binding = enlazar</p>
    <input [(ngModel)]="propiedadInput" type="text">
    <p>Todo cambio es automatico en un binding -> {{propiedadInput}}</p>

    <p>Los inputs pueden tener formato, como números,
      tipo password, etc.</p>
      <p>El tipo se cambia en el atributo <b>type</b></p>
    <input type="password" [(ngModel)]="propiedadInput" >

<h2>Componentes</h2>
<p>Los componentes pueden ser de muy pequeños como un texto,
   un botón, hasta una página web completa.</p>
<p>Los componentes se pueden reutilizar.</p>
<p>Dependiendo de la versión de Angular, los componentes
  pueden estar "sin modulo" o pertenecer a uno.</p>
  <p>Para cada componente es necesario crear su clase <b>class</b>
    y su decorador <b>@Component</b></p>
<p>En los componentes podemos trabajar el HTML, CSS Y TS
   en un mismo archivo, o separarlos en diferentes archivos.</p>
<h5>Ejemplo (Un archivo -> carpeta individual)</h5>

<p>Para mostrar un componete, se hace uso de su selector:</p>
<p>Hay dos formas, abrir y cerrar (/)</p>
<boton-individual></boton-individual>
<p>La otra manera es una etiqueta void</p>
<boton-individual />

<h5>Ejemplo (multiples archivos)</h5>
<p>Hay dos formas, abrir y cerrar (/)</p>
<boton-clasico></boton-clasico>
<p>La otra manera es una etiqueta void</p>
<boton-clasico />

<h5>Input en componente</h5>
<p>Los componentes pueden recibir datos desde el componente padre</p>
<p>Cuando pasan un atributo con [] -> seria algo como la interpolacion
  (nombre es una propiedad del componente padre)
</p>
<boton-clasico [tituloBoton]="nombre"></boton-clasico>
<p>Si no ponen [], todo el contenido es texto</p>
<boton-clasico tituloBoton="nombre"></boton-clasico>

<h2>Ejercicio</h2>
<p>Crear un componente, que tenga un arreglo ([] de string),
  con un ngFor mostrar cada uno de los elementos del arreglo en una lista.
  Debe de ser un listado de Calificaciones con su materia:
  Ejemplo:
  POO: 10
  Base de Datos: 10
  Ingles: 7

  Y al final mostrar el promedio de las calificaciones.
  </p>

  <h2>Ejercicio</h2>
  <div>
    <p>Ingresa tu calificación</p>
    <input [(ngModel)]="nombreMateria" placeholder="Materia:" type="text">
    <input [(ngModel)]="calificacionMateria" placeholder="Calificaciones" type="number">
    <button (click)="this.agregarCalificacion()">Guardar</button>

    <ul>
      <li *ngFor="let m of materias">
        {{ m }}
      </li>
    </ul>

  </div>
